:root {
  --cardWidth: 120px;
  --cardHeight: 168px;
  --shortCardHeight: 40px;
  --newSVG: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"/></svg>');
  --undoSVG: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z"/></svg>');
  --redoSVG: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z"/></svg>');
  --raiseSVG: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"/></svg>');
  --hintSVG: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M4,6H2v14c0,1.1,0.9,2,2,2h14v-2H4V6z M20,2H8C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4 C22,2.9,21.1,2,20,2z M20,16H8V4h12V16z M13.51,10.16c0.41-0.73,1.18-1.16,1.63-1.8c0.48-0.68,0.21-1.94-1.14-1.94 c-0.88,0-1.32,0.67-1.5,1.23l-1.37-0.57C11.51,5.96,12.52,5,13.99,5c1.23,0,2.08,0.56,2.51,1.26c0.37,0.6,0.58,1.73,0.01,2.57 c-0.63,0.93-1.23,1.21-1.56,1.81c-0.13,0.24-0.18,0.4-0.18,1.18h-1.52C13.26,11.41,13.19,10.74,13.51,10.16z M12.95,13.95 c0-0.59,0.47-1.04,1.05-1.04c0.59,0,1.04,0.45,1.04,1.04c0,0.58-0.44,1.05-1.04,1.05C13.42,15,12.95,14.53,12.95,13.95z"/></svg>');
  --hintPressedSVG: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path stroke="white" fill="white" d="M4,6H2v14c0,1.1,0.9,2,2,2h14v-2H4V6z M20,2H8C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4 C22,2.9,21.1,2,20,2z M20,16H8V4h12V16z M13.51,10.16c0.41-0.73,1.18-1.16,1.63-1.8c0.48-0.68,0.21-1.94-1.14-1.94 c-0.88,0-1.32,0.67-1.5,1.23l-1.37-0.57C11.51,5.96,12.52,5,13.99,5c1.23,0,2.08,0.56,2.51,1.26c0.37,0.6,0.58,1.73,0.01,2.57 c-0.63,0.93-1.23,1.21-1.56,1.81c-0.13,0.24-0.18,0.4-0.18,1.18h-1.52C13.26,11.41,13.19,10.74,13.51,10.16z M12.95,13.95 c0-0.59,0.47-1.04,1.05-1.04c0.59,0,1.04,0.45,1.04,1.04c0,0.58-0.44,1.05-1.04,1.05C13.42,15,12.95,14.53,12.95,13.95z"/></svg>');
  --helpSVG: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg>');
}
body {
  background-color: darkgreen;
}

.App header {
  margin: 1em;
}
.App header button {
  margin: 0 1em;
}

.card {
  width: var(--cardWidth);
  height: var(--cardHeight);
}

.singleRow {
  height: var(--cardHeight);
}

.stack {
  position: relative;
}

.stack.offset {
  top: calc(var(--shortCardHeight) - var(--cardHeight));
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
}

.cardContainer {
  justify-self: center;
  width: var(--cardWidth);
}

.celda {
  width: 100%;
  background-color: transparent;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
}

.leftNav {
  text-align: left;
}

.centerNav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.rightNav {
  text-align: right;
}

.heading {
  color: wheat;
  font-size: xx-large;
  font-weight: bold;
}

button {
  width: 40px;
  height: 32px;
  border-radius: 25%;
  background-color: wheat;
  border: thin solid silver;
  background-position: center;
  background-repeat: no-repeat;
}

button:disabled {
  opacity: 70%;
}

button#newGame {
  background-image: var(--newSVG);
}
button#undo {
  background-image: var(--undoSVG);
}
button#redo {
  background-image: var(--redoSVG);
}
button#raise {
  background-image: var(--raiseSVG);
}
button#hint {
  background-image: var(--hintSVG);
}
button#hint.buttonPressed {
  background-color: darkred;
  background-image: var(--hintPressedSVG);
}
button#helpOpener {
  background-image: var(--helpSVG);
}

.droppable .cardContainer {
  border: medium solid darkgreen;
}
.droppable-active .cardContainer {
  border-color: cyan;
}

.stats {
  color: wheat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}
tr.hasta td {
  border-bottom: solid black thin;
}
tr.desde td {
  border-top: solid black thin;
}

.guess {
  background-color: wheat;
  border-radius: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  height: var(--cardHeight);
}
.noHint {
  text-align: center;
}

.helpNewGame {
  list-style-image: var(--newSVG);
}
.helpUndo {
  list-style-image: var(--undoSVG);
}
.helpRedo {
  list-style-image: var(--redoSVG);
}
.helpRaise {
  list-style-image: var(--raiseSVG);
}
.helpHint {
  list-style-image: var(--hintSVG);
}
.helpHelp {
  list-style-image: var(--helpSVG);
}

.dragging {
  opacity: 0.5;
}

.notVisible {
  visibility: hidden;
}

.hueco {
  border: thin solid lightgreen;
  background-color: green;
}

/* these two are used on animations */
.flyOver {
  position: relative;
  z-index: 10;
}
.stayBehind {
  position: relative;
  top: calc(var(--cardHeight) * -1);
  z-index: 5;
}
