.App main {
  background-color: darkgreen;
}

.sprite {
  width: 120px;
  height: 168px;
}

.stackedSprite {
  position: absolute;
  top: 0;
  left: 0;
}

.cardStack {
  position: relative;
  padding: 1rem;
}

.celda {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
