body {
  background-color: darkgreen;
}

.App header {
  margin: 1em;
}
.App header button {
  margin: 0 1em;
}

.sprite {
  width: 120px;
  height: 168px;
}

.stackedSprite {
  height: 40px;
  overflow-y: hidden;
}

.celda {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
}

.dropTarget {
  border: medium solid darkgreen;
}
