.App main {
  background-color: darkgreen;
}

.sprite {
  width: 120px;
  height: 168px;
}

.stackedSprite {
  position: absolute;
  top: 0;
  left: 0;
}

.cardStack {
  position: relative;
  padding: 1rem;
}

.celda {
  margin: 1rem;
}
